@media (Max-width: 480px) {
  body, html {
    font-size: $base-font-size / 2;
  }
  #home .webCase {
    .header {
      display: none;
    }
    .body {
      border-radius: .5rem;
    }
    .body .button{
      position: absolute;
      top: 0;
      right: 0;
      display: block;
    }
  }
  #experience{
    height: 150vh;
  }
  #experience .timeLine  {
    transform: translateX(0);
    bottom: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    #line {
      width: 80vw;
      height: 0px;
      border-top: none;
      border-left: 2px solid $text;
      transition: height 1s;
      &.extend {
        height: 250px;
        width: 80vw;
      }
    }
    .works {
      flex-direction: column;
      align-items: center;
      width: 100%;
      opacity: 0;
      top: 10px;
      transition: .5s;
      & > div {
        width: 80vw;
        height: 250px;
      }
      h4 {
        top: -15px;
        left: 40px;
      }
      .largeDot {
        display: none;
      }
      &.show {
        opacity: 1;
        top: 0;
      }
    }
  }
}
@media (Max-width: 1024px) {
  #about {
    flex-direction: column;
    .title {
      top: 40px;
    }
    .title h1:nth-child(1) {
      position: relative;
      left: 700px;
    }
    .scroll-right {
      right: 0;
    }
    img {
      width: 80%;
    }
    .info {
      width: initial;
      margin: 20px 5% 0;
      h4 {
        border-left: 3px solid $primary;
        padding-left: 3%;
      }
    }
  }
  #experience .timeLine  {
    transform: translateX(90vw);
    bottom: -10%;
  }
  #project {
    padding: 0;
    .projects {
      & > div {
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        .media {
          width: 100%;
        }
      }
      .info {
        position: relative;
        background: none;
        height: initial;
        box-shadow: none;
        right: 0;
        text-align: left;
        margin-top: 10px;
        width: 100%;
        opacity: 0;
        transition: 0.5s;
      }
      img {
        display: none;
      }
      & > div:nth-child(odd) .info {
        right: 0;
        left: 30px;
      }
      & > div:nth-child(even) .info {
        left: -30px;
        text-align: right;
        align-self: flex-end;
      }
      .info.show {
        opacity: 1;
      }
      & > div:nth-child(odd) .info.show {
        left: 10px;
      }
      & > div:nth-child(even) .info.show {
        left: -10px;
      }
    }
  }
}