body {
  display: flex;
  justify-content: center; 
}
#about,
#experience,
#project,
#contact{
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
}
main {
  width: 100vw;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: transparent;
  z-index: 10;
  .logo {
    position: fixed;
    width: 34px;
    height: 34px;
    top: 1.2rem;
    left: 1.5rem;
    border: 2px solid $primary;
    border-radius: 100px;
    padding: 6px;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem 0;
  }
  a {
    width: 130px;
    text-align: right;
    margin: 0 1.5rem;
    color: $text;
    font-size: 0.8rem;
    &:last-child {
      grid-column: -1 / 2;
    }
  }
  a:hover {
    h4.chinese {
      display: block;
    }
    h4.english {
      display: none;
    }
  }
  h4 {
    margin: .5rem;
  }
  h4.chinese {
    display: none;
  }
  .github {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1rem 1.5rem;
    img {
      width: 22px;
    }
  }
}
#home {
  overflow: hidden;
  height: 150vh;
  width: 100vw;
  .webCase {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .header, .body {
      transition: background .5s;
      width: 90%;
      max-width: 1080px;
      box-shadow: 0 0 15px rgba($backend, .4);
      background-color: rgba($text, .2);
    }
    .header {
      position: relative;
      border-radius: .5rem .5rem .2rem .2rem;
      height: 8vh;
    }
    .header .buttons {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 5%;
      display: flex;
      .button {
        margin-right: 15px;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 20px;
        box-shadow: 0 0 8px rgba($backend, .5);
      }
      .button:nth-child(1){
        background-color: #fe5f59;
      }
      .button:nth-child(2){
        background-color: #fbbf2c;
      }
      .button:nth-child(3){
        background-color: #28ce3c;
      }
    } 
    .body {
      margin-top: 2%;
      height: 80vh;
      display: flex;
      justify-content: center;
      z-index: 9;
      position: relative;
      border-radius: .2rem .2rem .5rem .5rem;
      .button {
        padding: 5px;
        display: none;
        color: $text;
      }
    }
    .searchBar {
      margin-top: 60px;
      font-size: 3rem;
      width: 90%;
      max-width: 800px;
      border: 3px solid rgba($text, .1);
      border-radius: 100px;
      text-align: center;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      h3 {
        font-size: 3.5rem;
        margin: 0;
        display: inline-block;
        width: 22rem;
        color: $text;
        border-right: 3px solid $text;
        letter-spacing: -0.5rem;
        white-space: nowrap;
        overflow: hidden;
        line-height: 3rem;
        animation: typing 4s steps(7) infinite,
        caret 1s steps(1) infinite;
      }
    }
  }
  &.large > div {
    transition: transform .5s;
    transform: scale(5);
    .webCase .header,
    .webCase .body {
      background-color: $backend;
    }
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#about {
  height: 100vh;
  background-color: $backend;
  color: $text;
  padding: 100px 0;
  display: flex;
  align-items: flex-end;
  position: relative;
  .title {
    position: absolute;
    top: 0;
  }
  .scroll-right {
    position: relative;
    right: 55vw;
  }
  img {
    width: 40%;
    z-index: 2;
  }
  .info {
    width: 300px;
    margin-top: 80px;
    margin-left: 30px;
    h4, p {
      margin: .5rem 0;
    }
  }
}
#experience {
  height: 230vh;
  background-color: $backend;
  color: $text;
  transition: opacity .1s;
  &.sticky {
    top: 0px;
    position: -webkit-sticky;
    position: sticky;
  }
  .title {
    margin-top: 50px;
  }
  .timeLine {
    width: 100vw;
    position: relative;
    bottom: -100px;
    #line {
      width: 0;
      border-top: 2px solid $text;
      transition: width 1.5s;
      &.extend {
        width: 100vw;
      }
    }
    .works {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      & > div {
        width: 50vw;
        position: relative;
        padding-left: 3%;
        padding-top: 2rem;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 10px;
          height: 10px;
          background-color: $text;
          border-radius: 10px;
          transform: translate(-50%, -50%);
        }
      }
      & > .largeDot::before{
        width: 15px;
        height: 15px;
      }
      h4 {
        position: absolute;
        top: -60px;
        left: 0;
        transform: translateX(-50%);
      }
    } 
  }
  .title.fixed{
    position: fixed;
  }
}

#project {
  position: relative;
  background-color: $backend;
  padding: 50px 0;
  .title {
    transition: 1s;
    opacity: 0;
    width: 100%;
    text-align: right;
    color: $text;
    h2 {
      line-height: 6.3rem;
    }
    h2.text-stroke {
      -webkit-text-stroke: 3px $text;
    }
  }
  .title.fade-in {
    opacity: 1;
  }
  .projects {
    display: flex;
    flex-direction: column;
    padding: 25px 5% 25px;
    & > div.show {
      opacity: 1;
      top: 0;
    }
    & > div {
      position: relative;
      top: 100px;
      opacity: 0;
      transition: .5s;
      display: flex;
      align-items: center;
      margin: 80px 0;
      padding: 50px 5%;
      border-radius: 10px;
    }
    video {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba($backend, .4);
    }
    .media {
      position: relative;
      width: 80%;
      transition: .5s;
    }
    .media.large {
      width: 100%;
      z-index: 9;
    }
    & > div:nth-child(even) {
      display: flex;
      justify-content: flex-end;
      .info{
        left: 100px;
      }
    }
    & > div:nth-child(odd) .info{
      right: 100px;
    }
    .info {
      position: absolute;
      bottom: 0;
      width: 25vw;
      height: 25vw;
      max-width: 280px;
      max-height: 280px;
      border-radius: 100%;
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0 0 15px rgba($backend, .4);
    }
    img {
      width: 2.5rem;
      max-width: 36px;
      margin-bottom: -15px;
    }
    h3, p {
      position: relative;
      z-index: 8;
      color: $text;
    }
  }
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $backend;
  position: relative;
  height: 100vh;
  text-align: center;
  .title {
    margin: -3rem 0 0;
    color: $text;
    font-size: 6rem;
  }
  p {
    color: $text;
    margin: 0;
  }
  .email {
    margin-bottom: 1rem;
    margin-top: -1rem;
  }
  .charactor{
    max-width: 500px;
    width: 80%;
  }
  .plane {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    max-width: 130px;
    width: 8rem;
    animation: paperPlane 2.5s linear 0s infinite normal;
  }
}

@keyframes paperPlane{
  0% {
    transform: translate(-40px, 20px);
  }
  30% {
    transform: rotate3d(1, 1, 1, 20deg);
  }
  100% {
    transform: translate(80px, -100px);
  }
}
