header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: transparent;
  z-index: 10;
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 32%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem 0;
  }
  a {
    text-align: right;
    margin: 0 1.5rem;
    color: $text;
    font-size: 0.8rem;
    &:last-child {
      grid-column: -1 / 2;
    }
  }
  a:hover {
    h4.chinese {
      display: block;
    }
    h4.english {
      display: none;
    }
  }
  h4 {
    margin: .5rem;
  }
  h4.chinese {
    display: none;
  }
  .github {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1rem 1.5rem;
    img {
      width: 22px;
    }
  }
}
#home {
  overflow: hidden;
  height: 150vh;
  width: 100vw;
  .webCase {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .header, .body {
      transition: background .5s;
      width: 90%;
      max-width: 1080px;
      box-shadow: 0 0 15px rgba($backend, .4);
      background-color: rgba($text, .2);
    }
    .header {
      position: relative;
      border-radius: 20px 20px 5px 5px;
      height: 10vh;
    }
    .header .buttons {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 5%;
      display: flex;
      .button {
        margin-right: 15px;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        box-shadow: 0 0 8px rgba($backend, .5);
      }
      .button:nth-child(1){
        background-color: #fe5f59;
      }
      .button:nth-child(2){
        background-color: #fbbf2c;
      }
      .button:nth-child(3){
        background-color: #28ce3c;
      }
    } 
    .body {
      margin-top: 25px;
      height: 75vh;
      display: flex;
      justify-content: center;
      z-index: 9;
      position: relative;
      border-radius: 5px 5px 20px 20px;
    }
    .searchBar {
      margin-top: 60px;
      font-size: 3rem;
      width: 80%;
      border: 3px solid rgba($text, .1);
      border-radius: 100px;
      text-align: center;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      h3 {
        margin: 0;
        display: inline-block;
        width: 350px;
        color: $text;
        border-right: 3px solid $text;
        letter-spacing: -0.5rem;
        white-space: nowrap;
        overflow: hidden;
        line-height: 3rem;
        animation: typing 4s steps(7) infinite,
        caret 1s steps(1) infinite;
      }
    }
  }
  &.large > div {
    transition: transform .5s;
    transform: scale(5);
    .webCase .header,
    .webCase .body {
      background-color: $backend;
    }
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#about {
  height: 100vh;
  overflow: hidden;
  background-color: $backend;
  color: $text;
  padding: 100px 0;
  display: flex;
  align-items: flex-end;
  position: relative;
  img {
    width: 40%;
    z-index: 2;
  }
  .about-info {
    width: 300px;
    margin-top: 80px;
    margin-left: 30px;
    h4, p {
      margin: .5rem 0;
    }
  }
}
#about .title {
  position: absolute;
  top: 0;
}
// element
.title {
  h1, h2 {
    display: inline-block;
    font-weight: 900;
    font-style: italic;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }
  h1 {
    font-size: 9vw;
    line-height: 8vw;
  }
  h2 {
    font-size: 6rem;
    line-height: 6rem;
  }
  &.text-stroke {
    z-index: 3;
  }
  &.text-stroke h1 {
    color: transparent;
    -webkit-text-stroke: 3px $text;
  }
  .text-stroke {
    color: transparent;
    -webkit-text-stroke: 3px $text;
  }
  h1.scroll-right {
    position: relative;
    right: 80vw;
  }
}
#experience {
  overflow: hidden;
  height: 230vh;
  background-color: $backend;
  color: $text;
  transition: opacity .1s;
  &.sticky {
    top: 0px;
    position: -webkit-sticky;
    position: sticky;
  }
  .title {
    margin-top: 50px;
  }
  .timeLine {
    width: 1200px;
    position: relative;
    bottom: -100px;
    #line {
      width: 0;
      border-top: 2px solid $text;
      transition: width 1.5s;
    }
    #line.extend {
      width: 1200px;
    }
    .works {
      @include center(0, 0);
      display: flex;
    }
    .works > div {
      width: 600px;
      position: relative;
      padding-left: 3%;
      padding-top: 30px;
    }
    .works > div::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: $text;
      border-radius: 10px;
      transform: translate(-50%, -50%);
    }
    .works > .largeDot::before{
      width: 15px;
      height: 15px;
    }
    .works > .fullDot::before{
      background-color: $primary;
      width: 100vw;
      height: 100vw;
      border-radius: 100vw;
    }
    .works h4 {
      position: absolute;
      top: -60px;
      left: 0;
      transform: translateX(-50%);
    }
  }
  .title.fixed{
    position: fixed;
  }
}

#project {
  position: relative;
  background-color: $backend;
  padding-top: 50px;
  .title {
    transition: 1s;
    opacity: 0;
    width: 100%;
    text-align: right;
    color: $primary;
  }
  .title.fade-in {
    opacity: 1;
  }
  .title h2 {
    line-height: 6.3rem;
  }
  .title h2.text-stroke {
    -webkit-text-stroke: 3px $primary;
  }
  .projects {
    display: flex;
    flex-direction: column;
    padding: 25px 5% 25px;
    & > div.hide {
      opacity: 0;
      top: 100px;
    }
    & > div {
      position: relative;
      top: 0;
      opacity: 1;
      transition: .5s;
      display: flex;
      align-items: center;
      margin: 80px 0;
      padding: 50px 5%;
      border-radius: 10px;
    }
    video {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba($backend, .4);
    }
    .media {
      position: relative;
      width: 80%;
      transition: .5s;
    }
    .media.large {
      width: 100%;
      z-index: 9;
    }
    & > div:nth-child(even) {
      display: flex;
      justify-content: flex-end;
      .info{
        left: 100px;
      }
    }
    & > div:nth-child(odd) .info{
      right: 100px;
    }
    .info {
      background-color: lighten($primary, 3);
      position: absolute;
      bottom: 0;
      width: 280px;
      height: 280px;
      border-radius: 100%;
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0 0 15px rgba($backend, .4);
    }
    .info img {
      width: 36px;
      margin-bottom: -15px;
    }
    h3, p {
      position: relative;
      z-index: 8;
      color: $text;
    }
  }
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $backend;
  position: relative;
  height: 100vh;
  text-align: center;
  .title {
    margin: -50px 0 0;
    color: $text;
    font-size: 6rem;
  }
  p {
    color: $text;
    margin: 0;
  }
  .email {
    margin-bottom: 1rem;
    margin-top: -1rem;
  }
  .charactor{
    max-width: 500px;
    width: 80%;
  }
  .plane {
    @include center;
    z-index: 9;
    width: 130px;
    animation: paperPlane 2.5s linear 0s infinite normal;
  }
}

@keyframes paperPlane{
  0% {
    transform: translate(-40px, 20px);
  }
  30% {
    transform: rotate3d(1, 1, 1, 20deg);
  }
  100% {
    transform: translate(80px, -100px);
  }
}
