#home {
  height: 150vh;
  transition: 1s;
  .webCase {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    max-width: 1080px;
    height: 700px;
    border-radius: 30px;
    border: 8px solid $text;
    overflow: hidden;
    &::after {
      content: '';
      display: flex;
      align-items: center;
      border-bottom: 6px solid $text;
      // background-color: rgb(216, 100, 100);
      width: 100%;
      height: 70px;
    }
    .searchBar {
      @include center(25);
      font-size: 3rem;
      width: 80%;
      border: 5px solid $text;
      border-radius: 100px;
      text-align: center;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      h3 {
        margin: 0;
        display: inline-block;
        width: 350px;
        color: $text;
        border-right: 3px solid $text;
        line-height: 4rem;
        letter-spacing: -0.5rem;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 4s steps(7) infinite,
        caret 1s steps(1) infinite;
      }
    }
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#about {
  height: 100vh;
  overflow: hidden;
  background-color: $backend;
  color: $text;
  padding: 100px 0;
  display: flex;
  align-items: flex-end;
  position: relative;
  img {
    width: 40%;
    z-index: 2;
  }
  .about-info {
    width: 300px;
    margin-top: 80px;
    margin-left: 30px;
    h4, p {
      margin: .5rem 0;
    }
  }
}
#about .title {
  position: absolute;
  top: 0;
}
// element
.title {
  h1, h2 {
    display: inline-block;
    font-weight: 900;
    font-style: italic;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }
  h1 {
    font-size: 9vw;
    line-height: 8vw;
  }
  h2 {
    font-size: 6rem;
    line-height: 6rem;
  }
  &.text-stroke {
    z-index: 3;
  }
  &.text-stroke h1 {
    color: transparent;
    -webkit-text-stroke: 3px $text;
  }
  .text-stroke {
    color: transparent;
    -webkit-text-stroke: 3px $text;
  }
  h1.scroll-right {
    position: relative;
    right: 80vw;
  }
}
#experience {
  overflow: hidden;
  height: 300vh;
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
  background-color: $backend;
  color: $text;
  .title {
    margin-top: 50px;
  }
  .timeLine {
    width: 1200px;
    position: relative;
    bottom: -100px;
    #line {
      width: 0;
      border-top: 2px solid $text;
      transition: width 1.5s;
    }
    #line.extend {
      width: 1200px;
    }
    .works {
      @include center(0, 0);
      display: flex;
    }
    .works > div {
      width: 600px;
      position: relative;
      padding-left: 3%;
      padding-top: 30px;
    }
    .works > div::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: $text;
      border-radius: 10px;
      transform: translate(-50%, -50%);
    }
    .works > .largeDot::before{
      width: 15px;
      height: 15px;
    }
    .works > .fullDot::before{
      background-color: $primary;
      width: 100vw;
      height: 100vw;
      border-radius: 100vw;
    }
    .works h4 {
      position: absolute;
      top: -60px;
      left: 0;
      transform: translateX(-50%);
    }
  }
  .title.fixed{
    position: fixed;
  }
}

#project {
  position: relative;
  background-color: $backend;
  padding-top: 50px;
  .title {
    transition: 1s;
    opacity: 0;
    width: 100%;
    text-align: right;
    color: $primary;
  }
  .title.fade-in {
    opacity: 1;
  }
  .title h2 {
    line-height: 6.3rem;
  }
  .title h2.text-stroke {
    -webkit-text-stroke: 3px $primary;
  }
  .projects {
    display: flex;
    flex-direction: column;
    padding: 25px 5% 25px;
    & > div.hide {
      opacity: 0;
      top: 100px;
    }
    & > div {
      position: relative;
      top: 0;
      opacity: 1;
      transition: .5s;
      display: flex;
      align-items: center;
      margin: 80px 0;
      padding: 50px 5%;
      border-radius: 10px;
    }
    video {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba($backend, .4);
    }
    .media {
      position: relative;
      width: 80%;
      transition: .5s;
    }
    .media.large {
      width: 100%;
      z-index: 9;
    }
    & > div:nth-child(even) {
      display: flex;
      justify-content: flex-end;
      .info{
        left: 100px;
      }
    }
    & > div:nth-child(odd) .info{
      right: 100px;
    }
    .info {
      background-color: lighten($primary, 3);
      position: absolute;
      bottom: 0;
      width: 280px;
      height: 280px;
      border-radius: 100%;
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0 0 15px rgba($backend, .4);
    }
    .info img {
      width: 36px;
      margin-bottom: -15px;
    }
    h3, p {
      position: relative;
      z-index: 8;
      color: $text;
    }
  }
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $backend;
  position: relative;
  height: 100vh;
  text-align: center;
  .title {
    margin: -50px 0 0;
    color: $text;
    font-size: 6rem;
  }
  p {
    color: $text;
    margin: 0;
  }
  .charactor{
    max-width: 500px;
    width: 80%;
  }
  .plane {
    @include center;
    z-index: 9;
    width: 130px;
    animation: paperPlane 2.5s linear 0s infinite normal;
  }
}

@keyframes paperPlane{
  0% {
    transform: translate(-40px, 20px);
  }
  30% {
    transform: rotate3d(1, 1, 1, 20deg);
  }
  100% {
    transform: translate(80px, -100px);
  }
}
