.title {
  h1, h2 {
    display: inline-block;
    font-weight: 900;
    font-style: italic;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }
  h1 {
    font-size: 7rem;
    line-height: 6rem;
  }
  h2 {
    font-size: 6rem;
    line-height: 6rem;
  }
  &.text-stroke {
    z-index: 3;
  }
  &.text-stroke h1,
  .text-stroke {
    color: transparent;
    -webkit-text-stroke: .2rem $text;
  }
}