* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
  background-color: $backend;
  color: $text;
}
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  // color: $backendGray;
  &:hover {
      // color: $cyan;
      text-decoration: none;
  }
}

input:focus {
  outline: none;
}