$base-font-size: 1rem;
$base-line-height: 1.5;
$font-l: $base-font-size * 3.5;
// $font-m: $font-size-pixel * 17;
// $font-s: $font-size-pixel * 14;
//font
//$font-title: Helvetica Neue, Regular;
//$font-Neue: Helvetica Neue, Regular;
//$font-times: Times, Regular;
body, html {
    font-size: $base-font-size;
    line-height: $base-line-height;
    letter-spacing: 1px;
    font-family: 'Nunito Sans', sans-serif;
}